@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap";

.grid-container{
    display: grid;
    grid-template-columns: 10vw calc(100vw - 10vw) ;
    grid-template-rows: 60px calc(100vh - 60px);
}

.sidebar {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 10px;
    padding-top: 20px;
}

.btn-sidebar{
    text-align: center;
    transition: all .4s ease;
    width: 3.5vw;
    padding: 0;
}


.btn-sidebar:hover{
    border: 1px solid white;
}

.btn-sidebar.expand{
    width: 9vw;
}

.offcanvas {
    width: 200px !important;
}
.offcanvas > a{
    margin: 0 5px 5px ;
    font-size: 1.2rem;
}


