#myTable_wrapper > .row{
    margin: 0;
}

#myTable_wrapper .dt-layout-full{
}

/*
.dt-search{
}
#myTable_wrapper .row:first-child > div.dt-layout-end{
}
#myTable_wrapper .row:first-child {
}
#myTable_wrapper .row:first-child > div.dt-layout-start{
}
 */

#btn-add-employee{
    background-color: dodgerblue;
    width: 100px;
    height: 30px;
    text-align: left;
    border-style: hidden;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 0;
    margin-top: 20px;
}

